@media screen and (max-width: 1200px) {
    .container {
        max-width: 900px;
    }

    .main__photo{
        max-width: 990px;
    }

    .alsolike{
        &_wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
        &_item {
            margin: 30px 10px 0 10px;
        }
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .wrapper{
        justify-content: center;
    }

    .main__photo{
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 574px;
    }
    .main__photo{
        max-width: 574px;
    }

    .wrapper {
        .post {
            margin-top: 70px;
        }
    }
    .header{
        .nav_big{
            width: 65%;
        }
    }
    .alsolike{
        padding: 45px 80px;
    }
}

@media screen and (max-width: 574px) {
    .container {
        max-width: 375px;
    }
    .main__photo{
        max-width: 375px;
    }
    .header{
        padding: 30px 30px;
        .menu {
            display: block;
            button{
                border: none;
                background-color: transparent;
            }
        }
        .nav_big{
            display: none;
        }
        .nav_small{
            display: none;
        }
        .nav_small.active{
            display: block;
            width:100%;
            height:100%;
            background-color:white;
            padding:30px;
            position: absolute;
            top:0;
            left: 0;
            z-index: 30;
            display: flex;
            justify-content: space-between;
            align-items:center;
            flex-direction: column;
        }
    }


    .close {
        button{
            border: none;
            background-color: transparent;
            position: absolute;
            top:30px;
            right:30px;
        }
    }

    .wrapper {
        .post {
            max-width: 300px;
        }
    }

    .webpart__wrapper{
        .webpart__item{
            &_article{
                width: 85%;
            }
            &_aside {
                display: none;
                width: 10%;
                &_small{
                    display: block;
                    padding-top: 50px;
                    position: sticky;
                    top: 0;
                    align-self: flex-start;
                    button {
                        border: none;
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .profile {
        background-color: white;
        position: absolute;
        top: 20px;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid black;
        right: 0;
        height: calc(100vh - 20px);
    }
}


@media screen and (max-width: 475px){
    .container {
        max-width: 300px;
    }
    .main__photo{
        max-width: 300px;
    }

    .news {
        .input {
            width: 300px;
        }
        .send_button{
            left:290px;
        }
    }

    .footer__wrapper{
        flex-wrap: wrap;
    }
    .alsolike{
        padding: 20px 30px;
    }
    .comments{

        .comment{
            &__photo{
                width: 45px;
                margin-right: 20px;
                align-self: flex-start;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 320px){
    .container {
        max-width: 280px;
    }
    .main__photo{
        max-width: 280px;
    }
    .news {
        .input {
            width: 280px;
        }
        .send_button{
            left:260px;
        }
    }
    .alsolike{
        padding: 20px 10px;
    }
}