@import 'blocks/header.scss';
@import 'blocks/main-post.scss';
@import 'blocks/posts.scss';
@import 'blocks/news.scss';

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-Regular.ttf)
}
@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-Regular.ttf)
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf)
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin: 30px 0;
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
}

.article {
    margin: 40px auto 50px auto;
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;          
}


.link {
    a {
        font-size: 14px;
        font-family: "Ubuntu";
        color: rgb(180, 173, 158);
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
    }
}