    .header {
        display: flex;
        justify-content: space-between;
        padding: 30px 70px;
        width: 100%;
        .nav_big{
            visibility: visible;
            display: flex;
            justify-content: space-between;
            width: 50%;
            flex-direction: row;
        }
        .nav_small{
            display: none;
        }

        .menu{
            display: none;
        }

        &__minimo {
                h1{
                    font-size: 30px;
                    font-family: "Inconsolata";
                    color: rgb(0, 0, 0);
                    text-transform: uppercase;    
                }
        }

        &__item {
            font-size: 14px;
            font-family: "PlayfairDisplay";
            text-transform: uppercase;

            a {
                text-decoration: none;
                cursor: pointer;
                color: rgb(98, 98, 98);
                transition: all .5s;
                &:hover{
                    color: black;
                    // font-weight: bold;
                }
            }    
        }
      }
      

