.main {
    margin-top: 20px;

    .container {
        margin-top: 50px;
    }
    
        &__photo {
            margin: 0 auto;
            width: 1300px;
            height: 510px;
            position: relative;

            .back{
                position: absolute;
                left: 10px;
                top: 50%;
                z-index: 20;
                cursor: pointer;
            }

            .forward{
                position: absolute;
                right: 10px;
                top: 50%;
                z-index: 20;
                cursor: pointer;
            }
            .photo_img {
                visibility: hidden;
                position: absolute;
                top: 0;
            }
            
            .photo_img.active{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    visibility: visible;    
                }

            
        }
        .post__imageblock {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            .post__imageblock_item{
                margin: 30px auto 0 auto; 
                img{
                    width: 100%;
                }
            }
        }
}

.share{
    display: flex;
    justify-content: flex-end;
    // margin-right: 50px;
    &__item{
        margin-left: 20px;
        font-size: 13px;
        font-family: "Ubuntu";
        color: rgb(180, 173, 158);
        text-transform: uppercase;        
    }
    a{
        cursor: pointer;
    }
}