.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

    .post {
        margin-top: 130px;
        max-width: 420px;
        .link {
            margin-top: 30px;
        }
        &__img {
            width: 100%;
            img {
                width: 100%;
            }
        }

    }
}

.load{
    display: block;
    width: 160px;
    height: 55px;
    padding: 10px;
    margin: 100px auto;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    color: rgb(98, 98, 98);
    border: 1px solid rgb(98, 98, 98);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}